.imageContainer > img {
    /* height: 256px; */
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .imageContainer > img {
        height: 300px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 1440px) {
    .imageContainer > img {
        height: 600px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

