.switcherButton {
    --active-color: rgba(65, 158, 187, 1);
    border: none;
    border-bottom: 4px solid transparent;
    width: 80px;
    height: 52px;
    padding: 16px 6px;
    background: transparent;
    margin-bottom: 16px;
}

.active {
    border-bottom: 4px solid var(--active-color);
}

.venus {
    --active-color: rgba(237, 162, 73, 1); 
}

.mars {
    --active-color: rgba(209, 76, 50, 1); 
}

.switcherButtonNumber {
    display: none;
}

.switcherButtonText {
    color: #FFFFFF;
    font-size: 9px;
    font-family: "League Spartan";
    font-weight: 700px;
    line-height: 10px;
    letter-spacing: 1.93px;
}

@media (min-width: 768px) {
    .switcherButton {
        border: 1px solid rgba(255, 255, 255, .2);
        width: 350px;
        height: 48px;
        padding: 12px 28px 11px;
        background: transparent;
        align-items: center;
        display: flex;
    }
  }

@media (min-width: 768px) {
    .switcherButton:hover {
        background: rgba(255, 255, 255, .2);
    }
}

@media (min-width: 768px) {
    .active {
        background: var(--active-color);
    }
    .switcherButton:active {
        background: var(--active-color);
    }
}

@media (min-width: 768px) {
.switcherButtonNumber {
    display: block;
    color: rgba(255, 255, 255, .5);
    font-size: 12px;
    font-family: "League Spartan";
    font-weight: 700px;
    line-height: 25px;
    letter-spacing: 2.57px;
}
}

@media (min-width: 768px) {
    .switcherButtonText {
        color: #FFFFFF;
        font-size: 12px;
        font-family: "League Spartan";
        font-weight: 700px;
        line-height: 25px;
        letter-spacing: 2.57px;
        /* padding-left: 25px; */
    }
}