.switcher {grid-area: switcher;}
.image {grid-area: image;}
.content {grid-area: content;}
.footer {grid-area: footer;}

.container {
  display: grid;
  grid-template-areas: 
    "switcher"
    "image"
    "content"
    "footer"
  ;
  padding: 74px 24px 50px 24px;
}

.container > div {
  text-align: center;
}

@media (min-width: 768px) {
  .container {
      grid-template-areas: 
      "image image image image"
      "content content switcher switcher"
      "footer footer footer footer"
      ;
      padding: 28px 40px 40px;
    /* place-items: center; */
    /* justify-content: space-between; */
  }
  .switcher, .content {
    display: flex;
    place-items: center;
  }
  .switcher {
    justify-content: flex-end;
  }
}

@media (min-width: 1440px) {
  .container {
      grid-template-areas: 
      "image image content content"
      "image image switcher switcher"
      "footer footer footer footer"
    ;
      padding: 70px 165px 50px;
  }
  .switcher, .content {
    display: flex;
    place-items: start;
    justify-content: end;
  }
  .content {
    margin-top: 56px;
  }
}
